In [1]:
# Import spaCy and load the language library
import spacy
nlp = spacy.load('en_core_web_md')  # make sure to use a larger model!

In [2]:
#Convert a string to a vector

doc = nlp(u'The quick brown fox jumped over the lazy dogs.')

doc.vector

array([-1.7769655 ,  0.39714497, -1.695121  , -0.1089559 ,  3.861494  ,
       -0.10778303, -0.02750097,  3.191314  ,  1.0857747 , -0.2615487 ,
        4.0720797 ,  1.5932049 , -2.7569218 ,  0.70982707,  2.0976841 ,
        0.08150103,  0.8847861 , -0.505237  ,  0.767067  , -2.88911   ,
       -0.28514975, -0.331664  ,  0.306348  , -2.25347   ,  0.96798134,
       -0.030282  , -3.765162  , -2.168157  ,  1.3985709 ,  2.175709  ,
       -0.81103534, -0.55156004, -1.033463  , -2.3130198 , -2.892054  ,
       -2.843568  , -0.33247897,  1.620013  ,  3.03307   , -0.42730814,
        1.298548  ,  0.18969259,  1.234282  , -0.14263602, -1.427765  ,
       -0.05807757,  0.33836406, -1.6987331 , -2.13661   ,  0.10412004,
        0.62479395,  3.9712129 , -0.31110606, -1.9676571 , -0.11860895,
        0.55582994, -0.660888  ,  1.947435  ,  1.6391805 ,  0.6569032 ,
        0.054408  , -2.08993   ,  1.0370519 ,  0.5363236 ,  0.00807395,
       -0.91060096, -3.3870788 , -1.4823462 ,  1.4170542 ,  0.32670596,
        0.602952  , -1.047483  , -0.3633799 , -0.09132097,  0.722465  ,
       -0.74786097, -1.8563267 ,  0.827946  , -0.99609107, -0.3298212 ,
       -3.472247  , -0.94788504, -0.46503416,  0.6626488 ,  2.5601602 ,
       -1.2395241 ,  0.61391175, -0.61511296, -1.459838  ,  0.14399411,
       -1.1767578 , -0.10416207,  1.6930513 , -1.6688293 ,  0.26341552,
       -0.84874   ,  1.5149789 ,  0.03238799,  1.768853  ,  0.42900094,
        1.43253   , -0.53126115,  2.916109  ,  1.7515122 ,  0.62033385,
        1.7113819 , -1.5602219 ,  1.0098228 , -1.277114  , -0.816329  ,
       -0.28804332,  0.0696778 , -1.0609343 ,  0.960142  ,  1.765322  ,
       -0.18756203,  0.75897396, -0.64144975,  1.7536061 ,  0.10283799,
       -0.31856102, -1.091177  , -1.6496038 ,  1.657584  , -1.5179831 ,
       -1.886636  ,  1.6479073 , -1.196546  ,  3.3722177 , -0.22696403,
       -3.203148  , -1.708502  ,  2.9725442 , -0.320748  ,  0.466757  ,
        1.6034908 , -1.6832211 , -2.80418   ,  1.4318919 , -1.0059    ,
       -2.9437232 , -1.430186  , -1.3512889 , -0.09892895, -0.38347203,
        1.071111  , -1.02584   ,  0.30393195,  1.5452302 ,  0.28571904,
        0.10674398,  2.7844248 ,  0.43838865, -0.21123195, -0.69085443,
        0.04283998,  2.3449368 , -0.8889019 , -0.2773927 ,  0.3125515 ,
        0.264121  , -2.649219  ,  0.33148596,  0.39187098, -2.2444918 ,
       -1.1317899 , -1.935579  ,  0.52987385,  0.303826  ,  1.681892  ,
        1.0111669 ,  1.5380409 ,  1.7308229 , -0.080899  , -0.892347  ,
       -0.23734598, -0.21603405, -0.69041294, -1.6095406 , -0.8730756 ,
       -1.5468609 , -0.17627892, -0.1907803 ,  0.17952934, -0.803991  ,
       -0.03223496, -1.9790027 , -1.6414549 ,  0.20527199, -1.104895  ,
        0.24875899,  1.186315  , -0.8186741 , -2.410284  ,  0.5833171 ,
       -0.784715  , -2.627035  , -0.15004005, -1.4183891 ,  0.442288  ,
       -0.62965304, -1.113676  , -0.46552286, -1.651365  ,  1.8519121 ,
        1.1279902 , -3.2509658 ,  0.04463506,  0.11902802,  0.68590844,
        0.77328   ,  1.3373908 , -1.7096472 , -0.5530244 , -0.02548897,
        1.19019   ,  0.10446696, -1.351313  , -1.7751659 , -0.44060117,
       -1.4011772 ,  0.9672308 , -0.97586805,  1.2529299 , -1.9867659 ,
       -0.7944795 ,  0.6362045 ,  2.010871  ,  3.6185539 ,  0.62658596,
        0.9231445 , -3.4679253 ,  0.42413408,  1.219738  , -0.0507701 ,
        2.0426223 , -1.5670619 ,  1.5156981 , -0.09616538,  1.6220791 ,
        0.775658  , -1.8741112 ,  2.0503078 , -0.7602806 , -1.442644  ,
        1.69713   , -1.6083733 , -0.278282  , -1.431804  ,  0.60193396,
       -0.51194596, -2.1616828 , -4.4544115 , -0.3637256 , -0.98130643,
       -2.1879544 ,  1.471617  ,  3.2054775 , -0.562816  , -1.099867  ,
        2.353531  ,  1.6450421 ,  2.8005474 ,  1.1693535 ,  0.086842  ,
       -2.5300715 , -1.5670309 ,  0.31365603, -2.450636  ,  1.4588621 ,
        1.24279   ,  0.08502197,  1.06439   , -0.86917496,  0.32117197,
       -0.909351  ,  0.52400905, -1.35512   , -0.72316396,  1.9528949 ,
        0.49172202,  0.4663611 , -0.43013096, -0.09305   ,  1.265938  ,
       -1.251461  , -0.85874796, -0.2679918 , -0.173774  ,  0.56781405,
       -0.5377843 ,  0.871497  ,  2.4677212 ,  0.6728541 , -0.97043693,
        2.501867  , -0.572828  ,  0.504657  , -3.4507267 ,  0.45634192],
      dtype=float32)

In [3]:
# Create a three-token Doc object:
tokens = nlp(u'lion cat pet')

# Iterate through token combinations:
for token1 in tokens:
    for token2 in tokens:
        print(token1.text, token2.text, token1.similarity(token2))

lion lion 1.0
lion cat 0.3854507803916931
lion pet 0.20031583309173584
cat lion 0.3854507803916931
cat cat 1.0
cat pet 0.732966423034668
pet lion 0.20031583309173584
pet cat 0.732966423034668
pet pet 1.0

In [4]:
# For brevity, assign each token a name
a,b,c = tokens

# Display as a Markdown table (this only works in Jupyter!)
from IPython.display import Markdown, display
display(Markdown(f'<table><tr><th></th><th>{a.text}</th><th>{b.text}</th><th>{c.text}</th></tr>\
<tr><td>**{a.text}**</td><td>{a.similarity(a):{.4}}</td><td>{b.similarity(a):{.4}}</td><td>{c.similarity(a):{.4}}</td></tr>\
<tr><td>**{b.text}**</td><td>{a.similarity(b):{.4}}</td><td>{b.similarity(b):{.4}}</td><td>{c.similarity(b):{.4}}</td></tr>\
<tr><td>**{c.text}**</td><td>{a.similarity(c):{.4}}</td><td>{b.similarity(c):{.4}}</td><td>{c.similarity(c):{.4}}</td></tr>'))

<table><tr><th></th><th>lion</th><th>cat</th><th>pet</th></tr><tr><td>**lion**</td><td>1.0</td><td>0.3855</td><td>0.2003</td></tr><tr><td>**cat**</td><td>0.3855</td><td>1.0</td><td>0.733</td></tr><tr><td>**pet**</td><td>0.2003</td><td>0.733</td><td>1.0</td></tr>

In [5]:
#Compute the similarity score between two strings
nlp(u'lion').similarity(nlp(u'dandelion'))

0.14681950412585115

In [6]:
# Create a three-token Doc object:
tokens = nlp(u'like love hate')

# Iterate similarities through token combinations:
for token1 in tokens:
    for token2 in tokens:
        print(token1.text, token2.text, token1.similarity(token2))

like like 1.0
like love 0.5212638974189758
like hate 0.5065141320228577
love like 0.5212638974189758
love love 1.0
love hate 0.5708349943161011
hate like 0.5065141320228577
hate love 0.5708349943161011
hate hate 1.0

In [7]:
#Assess if tokens have a vector assigned or out-of-vocabulary
tokens = nlp(u'dog cat nargle')

for token in tokens:
    print(token.text, token.has_vector, token.vector_norm, token.is_oov)

dog True 75.254234 False
cat True 63.188496 False
nargle False 0.0 True

In [8]:
#Compute cosine similarity

from scipy import spatial

cosine_similarity = lambda x, y: 1 - spatial.distance.cosine(x, y)

king = nlp.vocab['king'].vector
man = nlp.vocab['man'].vector
woman = nlp.vocab['woman'].vector

# Now we find the closest vector in the vocabulary to the result of "man" - "woman" + "queen"
new_vector = king - man + woman
computed_similarities = []

for word in nlp.vocab:
    # Ignore words without vectors and mixed-case words:
    if word.has_vector:
        if word.is_lower:
            if word.is_alpha:
                similarity = cosine_similarity(new_vector, word.vector)
                computed_similarities.append((word, similarity))

computed_similarities = sorted(computed_similarities, key=lambda item: -item[1])

print([w[0].text for w in computed_similarities[:10]])

['king', 'the', 'and', 'that', 'havin', 'where', 'she', 'they', 'woman', 'somethin']

In [9]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/pranavkhanolkar/nltk_data...

True

In [10]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [11]:
a = 'This was a good movie.'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [12]:
a = 'This was the best, most awesome movie EVER MADE!!!'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.425, 'pos': 0.575, 'compound': 0.8877}

In [13]:
a = 'This was the worst film to ever disgrace the screen.'
sid.polarity_scores(a)

{'neg': 0.477, 'neu': 0.523, 'pos': 0.0, 'compound': -0.8074}

In [14]:
import numpy as np
import pandas as pd

df = pd.read_csv('../TextFiles/amazonreviews.tsv', sep='\t')
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [15]:
df['label'].value_counts()

label
neg    5097
pos    4903
Name: count, dtype: int64

In [16]:
# REMOVE NaN VALUES AND EMPTY STRINGS:
df.dropna(inplace=True)

blanks = []  # start with an empty list

for i,lb,rv in df.itertuples():  # iterate over the DataFrame
    if type(rv)==str:            # avoid NaN values
        if rv.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list

df.drop(blanks, inplace=True)

In [17]:
df['label'].value_counts()

label
neg    5097
pos    4903
Name: count, dtype: int64

In [18]:
sid.polarity_scores(df.loc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [19]:
df.loc[0]['label']

'pos'

In [20]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

df.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co..."
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co..."
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com..."
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com..."
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp..."

In [21]:
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df.head()

,label,review,scores,compound
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781

In [22]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,label,review,scores,compound,comp_score
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos

In [23]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
accuracy_score(df['label'],df['comp_score'])

0.7097

In [24]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.86      0.52      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [25]:
print(confusion_matrix(df['label'],df['comp_score']))

[[2629 2468]
 [ 435 4468]]

In [26]:
df = pd.read_csv('../TextFiles/moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [27]:
# REMOVE NaN VALUES AND EMPTY STRINGS:
df.dropna(inplace=True)

blanks = []  # start with an empty list

for i,lb,rv in df.itertuples():  # iterate over the DataFrame
    if type(rv)==str:            # avoid NaN values
        if rv.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list

df.drop(blanks, inplace=True)

In [28]:
df['label'].value_counts()

label
neg    969
pos    969
Name: count, dtype: int64

In [29]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

In [30]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [31]:
accuracy_score(df['label'],df['comp_score'])

0.6357069143446853

In [32]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [33]:
print(confusion_matrix(df['label'],df['comp_score']))

[[427 542]
 [164 805]]